# .env.example
# Rename this file to .env and fill in your details

# Python Server Configuration
# Your Home Location (for distance calculation)
LATITUDE=12.34567
LONGITUDE=12.34567
ELEVATION=123

# URLs
AIRCRAFT_URL=http://1.2.3.4/combine1090/data/aircraft.json
WEBSITE_URL=http://my-website.com
TEST_URL=http://example.com
SERVER_URL=http://1.2.3.4/AOD/post/media

# API Secrets
SECRET_KEY=123456789